<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @image.avatar %>
</p>

<p>
  <strong>Image pair:</strong>
  <%= @image.image_pair %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
