	<% if user_signed_in? %>
  <%= provide(:title, "Choosy | Newsfeed") %>
		<section id="about" class="container content-section text-center">
			<% @image_pairs.each do |pair| %>
        <div class="row" id=<%= pair.id %> >
          <div class="col-xs-2 col-sm-1 col-sm-offset-2">
            <%= image_tag(pair.user.avatar, :class => "img-responsive img-rounded") %>
          </div>

          <div class="col-xs-1 col-sm-1">
            <h6><%= pair.user.nickname %></h6>
          </div>
        </div>

				<div class="row">
          <div class="col-xs-8 col-xs-offset-2 text-center">
            <h4><%= pair.caption %></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-4 col-sm-offset-2">
				  <%= image_tag(pair.images.first.avatar.url, :class => "img-responsive img-rounded margins") %>
				  <% if !@user_history.include?(pair.id.to_s) %>
            <%= link_to image_pair_votefirst_path(image_pair_id: pair.id) do %>
              <i class="fa fa-thumbs-o-up fa-lg"></i> THIS
            <% end %>
          <% end %>
          </div>

          <div class="col-xs-6 col-sm-4">
          <%= image_tag(pair.images.last.avatar.url, :class => "img-responsive img-rounded margins") %>
          <% if !@user_history.include?(pair.id.to_s) %>
            <%= link_to image_pair_votesecond_path(image_pair_id: pair.id) do %>
              <i class="fa fa-thumbs-o-up fa-lg"></i> THAT
            <% end %>
          <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <ul class="comments">
            <% pair.comments.each do |comment| %>
              <li><%= "#{comment.user.nickname}: #{comment.body}" %>
              <% if comment.user_id == current_user.id %>
                | <%= link_to "delete comment", image_pair_comment_path(pair.id, comment.id), :method => :delete %>
              <% end %>
              </li>
            <% end %>
            <br>
            <% @image_pair = pair %>
            <%= form_for([@image_pair, @comment]) do |f| %>
              <% if @comment.errors.any? %>
                  <div id="error_explanation">

                    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this msg from being saved:</h2>

                    <ul>
                      <% @comment.errors.full_messages.each do |msg| %>
                          <li><%= comment %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>               
              <%= f.hidden_field :image_pair_id %>
                  <div class="field">
                    <%= f.text_field :body, :placeholder => "Add a comment" %>
                  </div>
                  <div class="actions btn">
                    <%= f.submit :Submit %>
                  </div>
            <% end %>
            </ul>
          </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
	  	<% end %>
      <%= will_paginate @image_pairs %>
      </div>
    </section>

	<% else %>
  <% provide(:title, "Choosy | Homepage") %>
		<!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading">Dilemma?</h1>
              <p class="intro-text">Reach out to the world. Seek a second opinion.</p>
              <br>
              <br>
              <a href="#about" class="btn btn-circle page-scroll">
                  <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>About Choosy</h2>
          <p>Hi there! This web application is developed by Ng Si Kai and Ana Chua as a part of Orbital, a self-driven programming module organised by the School of Computing, National University of Singapore.</p>

          <p>Choosy is an interative platform for users to seek second opinions in their everyday decisions, from Outfit of the Day a.k.a. OOTD woes to dilemmas arising from the classic "heart vs mind" rift. By crowdsourcing for opinions, we hope that users can better their decision-making process.</p>

          <p>
          Contribute to our project!
          </p>
          <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
       	 </ul>
       	  <br>
          <p>Theme: <a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale</a><br>
          Cover Photo: <a href="http://gratisography.com/">Gratisography</a></p>
          </p>
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- Instructions -->
      <section id="about" class="container content-section text-center instructions">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
              <h2>How does Choosy work?</h2><br>
              <p>
                1. Sign up for Choosy!<br>
                2. Upload two images about your dilemma, coupled with a brief caption.<br>
                3. Wait while others vote for the better option.<br>
                4. View the voting results and use it in your decision-making.<br>
                5. Help others by voting for their uploads.<br>
              </p>
            </div>
          </div>
      </section>

	<% end %>