<%= provide(:title, current_user.name) %>

<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<%= image_tag(current_user.avatar, size: "100x100") %>
		</div>

		<div class="col-xs-8 col-xs-offset-2">
			<h4>Hi <%= current_user.nickname %>!</h4>
		</div>
	</div>

	<br>
	<br>
	<br>

	<% @image_pairs.each do |pair| %>
		<div class="row">
	    <div class="col-xs-8 col-xs-offset-2 text-center">
	      <h4><%= pair.caption %></h4>
	    </div>
	  </div>

		<div class="row">
	    <div class="col-xs-6 col-sm-4 col-sm-offset-2">
		  <%= image_tag(pair.images.first.avatar.url, :class => "img-responsive img-rounded") %>
	    </div>

	    <div class="col-xs-6 col-sm-4">
	    <%= image_tag(pair.images.last.avatar.url, :class => "img-responsive img-rounded") %>
	    </div>
	  </div>
	  <br>

		<% @votes_first = show_first(pair) %>
		<% @votes_second = show_second(pair) %>
		<div class="progress col-xs-8 col-xs-offset-2">
			<% if @votes_first == 0 and @votes_second == 0 %>
				<div class="progress-bar" style="width: 0%">
				</div>
			<% else %>
				<div class="progress-bar progress-bar-info" style="width: <%= @votes_first %>%">
	  			<i class="fa fa-arrow-left"></i> <%= show_first(pair)%>%
				</div>
				<div class="progress-bar progress-bar-success" style="width: <%= @votes_second %>%">
	  			<%= show_second(pair)%>% <i class="fa fa-arrow-right"></i>
				</div>
			<% end %>
		</div>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	<% end %>
</section>