<%= provide(:title, current_user.name) %>
<%= current_user.email %>
<div class="center jumbotron">
	<h1> My Posts </h1>
	<p>
	<% @image_pairs.each do |pair| %>
		<h2><%= pair.caption %></h2>
		<br>
			<%= image_tag(pair.images.first.avatar.url, size: 
			"280x180") %>
			<%= image_tag(pair.images.last.avatar.url, size: 
			"280x180") %>
	<% end %>
	</p>
	
</div>