<%= form_for(@image_pair) do |f| %>
  <% if @image_pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_pair.errors.count, "error") %> prohibited this image_pair from being saved:</h2>

      <ul>
      <% @image_pair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </div>
  <div class="field">
    <%= f.label :first_image %><br>
    <%= f.file_field :first_image %>
  </div>
  <div class="field">
    <%= f.label :second_image %><br>
    <%= f.file_field :second_image %>
  </div>
  <div class="actions">
    <%= f.submit :Confirm %>
  </div>
<% end %>
