<%= form_for(@image_pair) do |f| %>
  <% if @image_pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_pair.errors.count, "error") %> prohibited this image_pair from being saved:</h2>

      <ul>
      <% @image_pair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :votes_first %><br>
    <%= f.number_field :votes_first %>
  </div>
  <div class="field">
    <%= f.label :votes_second %><br>
    <%= f.number_field :votes_second %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
